ul, li {
  list-style-type: none;
}

li {
  padding-left: 2em; text-indent: -2em;
}

.words_entropies_list {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}

ul.words_left_list {
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}

.fill-space {
  max-height: 800px;
  width: 100%;
  width: 100%;
}

.char-block {
  align-items: center;
  box-sizing: border-box;
  color: white;
  display: inline-flex;
  font-size: 15px;
  font-weight: 700;
  justify-content: center;
  text-transform: uppercase;
  line-height: 10px;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin: 2px;
  user-select: none;
}

.hint-wrong {
  background-color: rgb(58, 58, 60);
}

.hint-out-of-place {
  background-color: rgb(181, 159, 59);
}

.hint-correct {
  background-color: rgb(83, 141, 78);
}